@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {margin: 0; padding: 0;}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    padding-right: 100px;
    background: url('https://cdn.pixabay.com/photo/2020/03/14/05/38/screw-4929711_960_720.jpg') bottom no-repeat;
    background-size: cover;
}

h1{
   color: #f8f5ee;
   font-size: 4rem;
   font-family: Arial, Helvetica, sans-serif;
}

.news {
    background-color: #f7f7f7f7;
    padding: 50px 0 32px;

}

article {
    background-color: #fff;
    width: 768px;
    margin: 0 auto 12px;
    padding: 6px 32px;
    border-bottom: 1px solid rgb(172, 172, 163);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

article:nth-child(even) {
    background-color: rgb(241, 239, 232);
}

article a {
    color: rgb(110, 98, 63);
    text-decoration: none;
}

article a:hover {
    color:rgb(128,128,12);
}

article:nth-child(-n+2) h2::after {
    content: "NEW";
    color: red;
    font-size: .5em;
    vertical-align: top;

}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #d6d5d5;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(187, 187, 187);
    padding-top: 10px
}

